@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Lato", sans-serif; */




/* Starting The Project */
*{
    margin: 0;
    padding: 0;
}




/* Css of header part */
header{
    background-color: rgba(229, 84, 115, 0.1);
    padding: 20px 70px 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-text, .header-img{
    width: 50%;
}

.header-text{
    font-family: "Lato", sans-serif;
}

.h-t-h1{
    font-size: 60px;
    font-weight: 900;
}

.h-t-p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    margin: 30px 0;
}

.h-t-btn{
    background-color: #E55473;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 8px;
    border: none;
}




/* Css of Featured Flowers */
.fea-flower{
    max-width: 1440px;
    text-align: center;
    margin:  180px auto 0;
}

.f-f-text{
    font-family: "Lato", sans-serif;
    margin-bottom: 48px;
}

.f-f-text-h3{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;
}

.f-f-text-p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 20px;
}

.f-f-img-container{
    display: flex;
    gap: 15px;
    margin-top: 50px;   
}

.f-f-img1{
    width: 464px;
    height: 530px;
    border-radius: 50% 50% 0 0;
}

.f-f-img2{
    width: 464px;
    height: 530px;
    border-radius: 50% 50% 0 0;
}

.f-f-img3{
    width: 464px;
    height: 530px;
    border-radius: 50% 50% 0 0;
}

.img1{
    height: 420px;
    width: 316px;
    margin-top: 110px;
}

.img2{
    height: 370px;
    width: 370px;
    margin-top: 100px;
}

.img3{
    height: 470px;
    width: 314px;
    margin-top: 60px;
}

.ff-1{
    background-color: rgba(167, 33, 98, 0.15);
}

.ff-2{
    background-color: rgba(5, 151, 160, 0.15);
}

.ff-3{
    background-color: rgba(71, 125, 17, 0.15);
}

.f-e-t{
    font-size: 25px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 32px;
}




/* Css of cartoon section */
.cartoon{
    background-color: rgba(0, 0, 0, 0.05);
    max-width: 1240px;
    margin: 130px auto;
    padding: 80px 60px;
    display: flex;
    gap: 30px;
}

.sub-car{
    width: 33%;
    text-align: center;
}

.s-c-h4{
    color: rgba(39, 39, 39, 0.8);
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-top: 20px;
}




/* Css of Hot Deal Section */
.hot-deal{
    background-color: rgba(229, 84, 115, 0.05);
    padding: 100px 200px;
    display: flex;
    align-items: center;
}

.h-d-text{
    font-family: "Lato", sans-serif;
    width: 47%;
    margin-right: 170px;
    text-align: center;
}

.h-d-text-h3{
    font-size: 35px;
    font-weight: 900;
}

.off-color{
    color: #FE5547;
}

.h-d-text-p{
   color: rgba(39, 39, 39, 0.6);
   font-size: 16px;
   margin-top: 20px;
}


.h-d-btn{
   background-color: #E55473;
   color: white;
   font-size: 15x;
   font-family: "Lato", sans-serif;
   font-weight: bold;
   margin: 30px 0;padding: 15px 30px;
   border: none;
   border-radius: 8px;
}

.h-d-img{
    width: 35%;
}




/* Css of Instagram Section */
.instagram{
    max-width: 1340px;
    margin: 128px auto;
}

.insta-text{
    font-family: "Lato", sans-serif;
    text-align: center;
}

.insta-text-h3{
    color: #272727;
    font-size: 35px;
    font-weight: 900;
}

.insta-text-p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    margin: 40px 0;
}

.insta-img-container{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    gap: 10px; 
}

.insta-img{
    width: 310px;
}




/* Css of Form Section */
.form{
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    max-width: 1340px;
    margin: 0 auto 120px;
    padding: 120px 50px;
}

.form-text{
    font-family: "Lato", sans-serif;
    text-align: center;
}

.form-h1{
    color: rgba(39, 39, 39, 1);
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 20px;
}

.form-p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 15px;
}

.form-input{
    text-align: center;
    margin-top: 50px;
}

.form-input input[type="email"]{
    width: 700px;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
}

.f-i-btn{
    background-color: #E55473;
    color: white;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
}




/* Css of footer part */
.footer{
    background-color: #111010;
    text-align: center;
    padding: 120px 0;
    max-width: 1540px;
}

.footer-text{
    font-family: "Lato", sans-serif;
}

.footer-h1{
    color: #E55473;
    font-size: 40px;
    font-weight: 900;
}

.shop-color{
    color: white;
}

.footer-p1{
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    margin: 25px 0;
}

.footer-p2{
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
}


